<div class="container">
    <div class="row">
    <div class="col-sm-3 about-navigation">
        <h4>About</h4>
        <ul class="nav nav-pills nav-stacked">
            <li><a ui-sref="about.main">Seasons</a></li>
            <li><a ui-sref="about.jen">Jennifer Smith</a></li>
            <li><a ui-sref="about.randy">Randy Da Silva</a></li>
            <li><a ui-sref="about.steph">Stephanie Jin</a></li>
        </ul>
    </div>
    <div class="col-sm-9">
        <div class="about-view-container">
            <div class="about-ui-view" ui-view></div>
        </div>
    </div>
    </div>
</div>