<div class="container-fluid">


  <div class="row">

  <!-- weather & search bar -->
    <div class="col-xs-12 col-sm-6 col-md-6" id="weather">
      
    <nav class="navbar navbar-default" role="navigation">
      <form>
        <input type="submit" value="Search" ng-click="findWeather(zip)">
        <input type="text" placeholder="where to?" ng-model="zip">
      </form>
    </nav>

      <!-- current weather conditions -->
      <h1>It's currently {{place.current_observation.weather}} in {{place.current_observation.display_location.city}}</h1>
      <p>{{place.current_observation.temp_f}} // HI: {{place.forecast.simpleforecast.forecastday[0].high.fahrenheit}} // LOW: {{place.forecast.simpleforecast.forecastday[0].low.fahrenheit}}</p>
      
    </div>
  

  <!-- clothing -->
    <div class="col-xs-12 col-sm-6 col-md-6 right-column">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12" id="dayclothing">
          <h3>Today you'll need</h3>
          <!-- code that links to clothing -->
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12" id="nightclothing">
          <h3>Don't forget about these later tonight</h3>
          <!-- code that links to clothing -->
        </div>
      </div>
    </div>
  </div>
</div>