<div class="container-fluid">


  <div class="row">

  <!-- weather & search bar -->
    <div class="col-xs-12 col-sm-6 col-md-6" id="weather">
      
    <nav class="navbar navbar-default" role="navigation">

      <form>
        <input type="submit" value="Search" ng-click="findWeather(coordinates)">
        <input type="text" placeholder="where to?" ng-model="coordinates">
      </form>

      <%#=form_for @suggestion do |f| %>

      <%# end %>

    </nav>

      <!-- current weather conditions -->
<!--       <h1>It's currently<br><span>{{place.current_observation.temp_f}} &amp; {{place.current_observation.weather}}</span><br>in {{place.current_observation.display_location.city}}</h1>

      <div id="conditions">
      <p>HI: {{place.forecast.simpleforecast.forecastday[0].high.fahrenheit}} // LOW: {{place.forecast.simpleforecast.forecastday[0].low.fahrenheit}}<br>wind: {{place.current_observation.wind_string}} <br>rain: {{place.forecast.simpleforecast.forecastday[0].pop}}<br>snow: {{place.forecast.simpleforecast.forecastday[0].snow_day.in}}</p>
      </div> -->
      

       <!-- dummy text for styling -->
      <h1>It's currently<br><span>{{place.temp}} &amp; {{place.condition}}</span><br>in {{place.city}}</h1>

      <div id="conditions">
      <p>HI: 75 // LOW: 44<br>wind: calm <br>rain: 60%<br>snow: 0 in</p>
      </div>

    </div>
  

  <!-- clothing -->
    <div class="col-xs-12 col-sm-6 col-md-6 right-column">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12" id="dayclothing">
          <h3>Today you'll need</h3>
          <!-- code that links to clothing -->
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12" id="nightclothing">
          <h3>Don't forget about these later tonight</h3>
          <!-- code that links to clothing -->
        </div>
      </div>
    </div>
  </div>
</div>