<div class="container-fluid">



  <div class="row">

  <!-- weather & search bar -->
    <div class="col-xs-11 col-sm-11 col-md-11">
    <nav class="navbar navbar-default" role="navigation">

      <form>
        <input type="submit" value="Search" ng-click="findWeather(coordinates)">
        <input type="text" placeholder="where to?" ng-model="coordinates">
      </form>

    </nav>

      <h1>It's currently<br><span>{{place.temp}} &amp; {{place.condition}}</span><br>in {{place.city}}</h1>

      <div id="conditions">
        <p>HI: {{place.temphi}} // LOW: {{place.templo}}<br>wind: {{place.wind}} <br>rain: {{place.rain}}%<br>snow: {{place.snow}}"</p>
      </div>

      
      


    </div>
  
  </div>
</div>

