     <nav class="navbar navbar-default" role="navigation">

      <form>
        <input type="submit" value="Search" ng-click="findWeather(coordinates)">
        <input type="text" placeholder="where to?" ng-model="coordinates">
      </form>

    </nav>

night time